.block {
  width: 500px;
  display: flex;
  justify-content: center;
  margin: 50px 0 0 600px;
  flex-direction: column;

}
.block-input{
  width: 250px;
  outline: none;
  height: 40px;
  border-radius: 10px;
}
.block-btn{
  width: 70px;
  height: 45px;
  background: #000;
  border-radius: 5px;

  color: white;
}
.block-btn:active{
  color: red;
  background: rgb(82, 50, 50);
}
